*,
*::before,
*::after {
box-sizing: border-box;
padding: 0px;
margin: 0px;
}

body {
    font-family: "Montserrat", sans-serif;
    background: #fafafc;
    font-weight: 400
}

header {
    padding: 18px;
    box-shadow: 0 1px 3px 0 rgba(11, 12, 13, 0.16), 0 0 1px 0 rgba(11, 12, 13, 0.24);
    background: #fff;
}

.container {
    max-width: 1182px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notes-counter {
    display: flex;
}

.logo-img {
    margin-right: 12px;
}

span {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: right;
    color: #000;
}

#timer {
    font-weight: 700;
}

main {
    display: flex;
    flex-direction: column;
}

.card-form {
    border-radius: 4px;
    max-width: 1152px;
    box-shadow: 0 8px 12px 0 rgba(11, 12, 13, 0.08), 0 16px 24px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
    background: #fff;
    padding: 24px;
    display: flex;
    margin-top: 24px;
    justify-content: center;
    align-items: center;
}

.form{
}

.new-note-wrapper {
    display: flex;
    flex-direction: column;
}

.name {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 12px;
    line-height: 2;
    color: #919191;
}

.note-title {
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    padding: 6px 12px;
    width: 344px;
    height: 36px;
}

.block-wrapper {
    display: flex;
    gap: 24px;
}

.block-text {
    display: flex;
    flex-direction: column;
}

.note-description {
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    padding: 6px 12px;
    width: 848px;
    min-height: 84px;
}

::placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 1.71429;
    color: #000;
}

button {
    border: none;
}
.buttons {
    display: flex;
    flex-direction: column;
}

.button-submit {
    background-color: #457cdc;
    cursor: pointer;
    border-radius: 10px;
    width: 232px;
    height: 36px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    align-self: flex-end;
}

fieldset {
    all: unset;
    margin-bottom: 12px;
}

.label {
    font-size: 12px;
    line-height: 2;
    color: #919191;
    margin-bottom: ;
}

legend {
    all: unset
}

.radio-list {
    display: flex;
    gap: 14px;
    list-style: none;
    padding-left: 0;
}

.radio {
    appearance: none;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: green;
}

.radio[value="red"] {
    background-color: #F37D7D;
}

.radio[value="green"] {
    background-color: #C2F37D;
}

.radio[value="blue"] {
    background-color: #7DE1F3;
}

.radio[value="yellow"] {
    background-color: #F3DB7D;
}

.radio[value="purple"] {
    background-color: #E77DF3;
}

.radio:checked {
    border-color: white;
    box-shadow: 0 0 0 3px white, /* Внутренняя обводка для создания промежутка */
    0 0 0 4.5px #007BFF; /* Внешняя обводка */
}
.list {
    margin-top: 60px; 
    display: flex;
    list-style-type: none;
    gap: 24px;
}

#no-notes {
    display: flex;
    margin-top: 138px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.note {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #292515;
}

.notes-list {
    display: flex;
    max-width: 1182px;
}

.example-note {
    border-radius: 10px;
    padding: 12px 0px 0px 0px;
    width: 368px;
    box-shadow: 0 4px 8px 0 rgba(11, 12, 13, 0.08), 0 8px 16px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
    display: flex;
    flex-direction: column;
}

.new-name  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
}

.note {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #292515;
    font-family: "Montserrat", sans-serif;
    font-weight: 400
} 

.note-buttons {
    display: flex;
    gap: 12px;
}

button {
    border:none;
}

.description-wrapper {
    padding: 12px;
    width: 368px;
    background: #fff;
    border-radius: 0 0 10px 10px;
    width: 368px;
    margin-top: 10px;
} 

.description {
    font-size: 14px;
    line-height: 1.71429;
    color: #000;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400
}

.favorite-button, .delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.favorite-button img, .delete-button img {
    width: 16px;
    height: 16px;
}

.filter-box {
    
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    display: none; /* Скрываем чек-бокс по умолчанию */
}

#show-favorites {
    margin-left: 10px;
}